.header {
  background: var(--sys-primary); // Primärfarbe aus dem Theme
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 4rem;
  box-shadow: var(
    --mat-app-elevation-shadow-level-3
  ); // Schatten aus Material Design

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto; // Zentrieren des Containers
    padding: 0 1rem;
  }

  .brand {
    .logo-link {
      text-decoration: none;
      color: var(
        --sys-on-primary
      ); // Textfarbe, die auf Primärfarbe gut lesbar ist
      display: flex;
      align-items: center;
    }

    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .main-nav {
    display: flex;
    gap: 0.5rem;

    @media (max-width: 48rem) {
      display: none;
    }

    a {
      color: var(--sys-on-primary);
      font-weight: 500;

      &.active {
        background-color: var(--sys-primary-container);
        color: var(--sys-on-primary-container);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .quick-book-btn {
      margin-right: 0.5rem;
      background-color: var(--sys-tertiary-container);
      color: var(--sys-on-tertiary-container);
      font-weight: 600;

      &:hover {
        filter: brightness(0.95); // Leicht abdunkeln beim Hover
      }

      @media (max-width: 48rem) {
        span {
          display: none;
        }
      }
    }

    .user-menu-trigger {
      display: flex;
      align-items: center;
      color: var(--sys-on-primary);

      .user-name {
        max-width: 7.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 48rem) {
          max-width: 5rem;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel {
  // background-color: var(--sys-surface-container) !important;
  backdrop-filter: blur(10px);
  // border: 1px solid var(--sys-outline-variant);
  border-radius: 8px !important;

  .mat-mdc-menu-item {
    color: var(--sys-on-surface);

    &:hover {
      background-color: var(--sys-surface-variant);
    }

    .mat-icon {
      color: var(--sys-primary);
    }
  }
}

.notification-item {
  padding: 0.5rem 1rem;
  min-width: 15rem;

  .empty-notifications {
    color: var(--sys-on-surface-variant);
    text-align: center;
    margin: 0.5rem 0;
  }
}

.login-btn {
  color: var(--sys-on-primary) !important;
}
