.footer {
  background-color: var(--sys-surface-container-low);
  padding: 1rem 0;
  border-top: 1px solid var(--sys-outline-variant);

  .footer-content {
    max-width: 75rem;
    height: calc(1rem - 1px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @media (max-width: 48rem) {
      flex-direction: column-reverse;
      gap: 0.5rem;
    }
  }

  .footer-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: var(--sys-on-surface-variant);
      text-decoration: none;
      font-size: 0.875rem;

      &:hover {
        text-decoration: underline;
        color: var(--sys-on-surface);
      }
    }
  }

  .copyright {
    color: var(--sys-on-surface-variant);
    font-size: 0.875rem;
  }
}
