// Custom Theming für Angular Material
@use "@angular/material" as mat;
@use "../m3-theme.scss" as theme;

// Die Core-Styles für Angular Material
@include mat.core();

// Light-Theme als Standard aktivieren
:root {
  @include mat.all-component-themes(theme.$light-theme);

  // WICHTIG: Diese Zeilen generieren die CSS-Variablen (--sys-*)
  @include mat.system-level-colors(theme.$light-theme);
  @include mat.system-level-typography(theme.$light-theme);
}

// Dark-Theme-Klasse definieren
.dark-theme {
  @include mat.all-component-themes(theme.$dark-theme);

  // WICHTIG: Diese Zeilen auch für das Dark-Theme
  @include mat.system-level-colors(theme.$dark-theme);
  @include mat.system-level-typography(theme.$dark-theme);
}

// Basis-Styles
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
